@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
}

.App{
  padding: 40px;
  min-width: 1280px;
}

.header{
  width: 100%;
  margin-bottom: 20px;
}

.header img{
  width: 295px;
}

.button{
  width: auto;
  border-radius: 5px;
  border: none;
  background-color: #6C63FF;
  color: #fff;
  height: 50px;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  
  display: flex;
  align-items: center;
  justify-content: center;

  transition: ease-in 0.5s;
}

.button:hover{
  background-color: #534cd4;
}

.happyContainer{
  position: fixed;
  /*transform: translateX(-6vh) translateY(-16.5vh);*/
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(86, 86, 86, 0.5);
}

.happyContainer .center{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.fadeInContainer{
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}