@import url('https://fonts.googleapis.com/css?family=Nunito:600,700,900&display=swap');

*{
  font-family: 'Nunito';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
}

.App{
  padding: 40px;
  min-width: 1280px;
}

.header{
  width: 100%;
  margin-bottom: 20px;
}

.header img{
  width: 40vh;
}

.button{
  width: auto;
  border-radius: 1vh;
  border: none;
  background-color: #6C63FF;
  color: #fff;
  height: 8vh;
  font-size: 3vh;
  outline: none;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.happyContainer{
  position: fixed;
  /*transform: translateX(-6vh) translateY(-16.5vh);*/
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(86, 86, 86, 0.5);
}

.happyContainer .center{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}