body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 600px) {
  .applicationContainer {
    display: none;
  }
  .userAlert{
    display: flex;
  }
  
  .userAlert p{
    font-size: 24px;
    text-align: center;
  }
  
}

@media only screen and (min-width: 600px) {
  .userAlert{
    display: none;
  }
}

#root{
  width: 100%;
  height: 100vh;
  background: url('./assets/background.svg') no-repeat;
  background-size: cover;
}
